#title{
    background-color: #ff4c68;
    padding: 3% 15% 7%;
    color: #fff;
}
h1{
    font-family: 'Montserrat', sans-serif;
    size: 3.5rem;
    line-height: 1.5;
}
.navbar{
    margin-bottom: 20px;
    padding: 0 0 2.5rem;
}
.navbarb{
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: whitesmoke;
    padding: 0 0 2.5rem;
}
.nav-item{
    padding: 0 18px;
    padding: 0 0 2.5rem;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
}
body{
    font-family: 'Montserrat';
}
.downloadbutt{
    margin: 5% 3% 5% 0;
}
.titleimage{
    width: 50%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}
.row-feat{
    padding: 2.5rem 3.rem 2.5rem 3rem;
}
.two{
    margin-top: 50%;
    margin-bottom: 50%;
}
#features{
    padding: 7% 15%;
    font-family: 'Ubuntu';
    color: darkslategray;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
h3{
    font-family: 'Montserrat-Bold';
}
.f{
    font-family: 'Montserrat';
    font-weight: lighter;
    color: black;
}
.tick{
    
    margin-bottom: 10px;
    color: #ef8172;
}
.client{
    
    margin-bottom: 10px;
    color: #ef8172;
}
.dil{
    margin-left: 0px;
    margin-bottom: 10px;
    color: #ef8172;
}
.fe{
    text-align: center;
    padding: 5%;
}
.tick:hover{
    color: #ff4c68;
}
.client:hover{
    color: #ff4c68;
}
.dil:hover{
    color: #ff4c68;
}
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.test{
    font-family: 'ubuntu';
    font-size: 3.5rem;
    line-height: 1.5;
}
.testimage{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}
.logo{
    width: 15%;
    padding: 20px 20px 15px;
}
.carousel-item{
    padding: 7% 15%;

}
.pricing-cols{
    padding: 3% 2%;
}
#pricing{
    padding: 100px;
}
@media (max-width:1028px){

    #title{
        text-align: center;
    }


    .titleimage{
                position: static;
                transform: rotate(0);
    }
}
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
    color: #fff;
}
.Action{
    font-family: "ubuntu";
    font-size: 3.5rem;
    line-height: 1.5;
}
#footer{
    padding: 3% 15% 0 15%;
    text-align: center;
    margin-top: 50px;
    font-family: "ubuntu";
}
.ic{
    padding: 20px 10px;
}
.pr{
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;   
}
.prr{
    text-align: center;
    color: grey;
}